<div class="container mt-4">
  <h2>Add Expense</h2>
  <div class="card mt-3">
    <div class="card-body">
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" [(ngModel)]="title" />
      </div>
      <div class="mb-3">
        <label class="form-label">Amount</label>
        <input type="number" class="form-control" [(ngModel)]="amount" />
      </div>
      <div class="mb-3">
        <label class="form-label">Category</label>
        <select class="form-control" [(ngModel)]="category">
          <option value="">Select Category</option>
          <option value="Food">Food</option>
          <option value="Travel">Travel</option>
          <option value="Grocery">Grocery</option>
          <option value="Utilities">Utilities</option>
          <option value="Work">Work</option>
          <option value="Shopping">Shopping</option>
          <option value="Personal">Personal</option>
        </select>
      </div>
      <button class="btn btn-primary w-100" routerLink="" (click)="addExpense()">
        Add Expense
      </button>
    </div>
  </div>
</div>
